
<div id="container">
  <div>
    <h1>Confirm the game</h1>
    <div id="game-form-results">
        <p>Character: {{getCharacterName()}} <img [src]="getCharacterImage()"/> Bskin: {{hasBskin()}}</p>
        <div>
          <div>
            {{getEndingAreaLabel()}}
          </div>
          <span>
            Killed by <img [src]="getLastHitIcon()"/> - {{getLastHitName()}} 
          </span>
        </div>
        <div>
          Killed: {{getEnemiesKilled()}} enemies.
        </div>
        <div>
          <span>Primary Weapon: {{getPrimaryWeaponName()}}  <img height="25" *ngIf="getPrimaryWeaponImage()!=null" [src]="getPrimaryWeaponImage()"/></span>
          <span>Secondary Weapon: {{getSecondaryWeaponName()}} <img height="25" *ngIf="getSecondaryWeaponImage()!=null" [src]="getSecondaryWeaponImage()"/></span>
        </div>

        <div *ngIf="getMutations().size>0"id="mutations">
          Mutations:<br/>
          <span class="mutation" *ngFor="let mut of getMutations()">
            <img height=30 width=25 [src]="mut.imagePath"/>
          </span>
        </div>
        <p style="font-weight:bold;">Your Steam ID: {{getSteamID()}}</p>
    </div>
  </div>

<div id="submit">
  <button id="enter-button" (click)="confirm()"class="btn btn-primary confirm">Confirm</button>
</div>

<div *ngIf="confirmed">
  <div *ngIf="daily">
   
    The first http petition has been sent.<br/>
    You must wait {{sleeptime}} to send the second petition.<br/>
    If you leave, you will get -1 kills.
  </div>


</div>


</div>