
#container {
    margin: 30px;
}

#steam-id{
    margin:10px;
}

.confirm{
    width:100%;
    margin: 0px 0px 10px 0px  !important;

}
#submit{
    margin-top:30px;
}

.daily-confirmed{
    text-align:center;
}