
<div id="container">
<div id="game-form">
<form id="form" [formGroup]="deadForm">
  <div id="daily-weekly-selector">
    Game Type:
    <span id="option-daily">
    <input type="radio" id="inp-option-daily" name="type" [value]="GameType.DAILY" formControlName="type">
    <label for="inp-option-daily">Daily</label>
    </span>
    <span  id="option-weekly">
    <input type="radio" id="inp-option-weekly" name="type" [value]="GameType.WEEKLY" formControlName="type">
    <label for="inp-option-weekly">Weekly</label>
  </span>
  </div>
  <div id="container-ending-conditions">
      <h6>Ending Conditions:</h6>
      <div  class="border" id="dead-form">

       
         <table id="table-ending-conditions">
            <tr>
              <td>Area:</td>
              <td><select formControlName="deadArea" class="end-dropdown">
                  <option *ngFor="let area of getAreas()" [ngValue]="area">{{area}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Subarea:</td>
              <td> <select formControlName="deadSubarea" class="end-dropdown" >
                  <option *ngFor="let subarea of getAvailableSubareas()" [ngValue]="subarea">{{subarea.subarea}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Killed By:</td>
              <td>
                  <select formControlName="killedBy" class="end-dropdown">
                      <option *ngFor="let enemy of getEnemies()" [ngValue]="enemy">{{enemy.name}}</option>
                    </select>
              </td>
            </tr>
        </table>
      </div>
    </div>

    <table >
        <tr>
          <td> Character: </td>
    
          <td><span>
             <select formControlName="character" >
                  <option *ngFor="let chara of characters" [ngValue]="chara"  >{{chara.name}}</option>
                </select>
               
              </span>
              </td>
              <td><input type="checkbox" id="bskin-checkbox" formControlName="bskin">  B-skin</td>
        </tr>
        <tr>
          <td> Crowns:</td>
          <td> <select formControlName="crown">
              <option *ngFor="let crown of getAvailableCrowns()" [ngValue]="crown">{{crown.name}}</option>
            </select></td>
        </tr>
        

        <tr>
          <td>Primary weapon: </td>
          <td><button (click)="openPrimaryWeaponSelector()" type="button" class="btn btn-secondary btn-sm weapon-btn" >Primary Weapon</button> </td>
          <td>Selected: {{primaryWeapon.name}}</td>
        </tr>

        <tr>
            <td>Secondary Weapon:</td>
            <td><button (click)="openSecondaryWeaponSelector()" type="button" class="btn btn-secondary btn-sm weapon-btn" >Secondary Weapon</button></td>
            <td>Selected: {{secondaryWeapon.name}}</td>
        </tr>
        
        <tr>
          <td>Mutations Left: {{getMutationsLeft()}}</td>
        <td>
            <button (click)=openMutations() class="btn btn-secondary btn-sm">Select Mutations</button>
           </td>
          </tr>
        </table>
  <p class="text-danger">{{errorMessage}}</p>
  <input type="text" id="steam-id" class="form-control confirm" formControlName="steam-id" placeholder="Your steam id"/>
 <button id="enter-button" (click)="enterPressed()" class="btn btn-primary">Enter</button>
</form>

</div>
</div>