.border {
    border-style: solid;
  border-width: 1px;
  padding: 13px 8px;

}

.weapon-btn{
  margin-left: 20px;
  margin-top:3px;
  margin-right:20px;
  margin-bottom: 3px;

}
#game-form{
  width: 51%;
  margin: 0 auto;
}

#option-daily{
  margin-left:3%;
}

#option-weekly{
  margin-left:5%;
}

#table-ending-conditions{
  border-collapse: inherit;
  border-spacing: 10px 0;
  width: 75%;
  margin: 0 auto;
}
#container-ending-conditions{
   margin-bottom: 10px;
}


.end-dropdown{
  width: 100%;
}

table{
  border-collapse: separate;
  border-spacing: 50px 10px;
 
}

.btn{
  margin:0px;
  margin-right:20px;
}

#game-form{
 
  margin-top:30px;
}

#enter-button{
  margin-top:10px;
  width: 100%;
}