<div class="modal-header">
  <div class="grid-container">
    
    <div class="grid-item" *ngFor="let wep of weapons">
        <span class="weapon-item">
            <img height="26" (click)="selectedWeaponForm.setValue(wep);" width="59" src="assets/images/weapons/AutoFlameShotgun.png"><br/>
            <span>
            <label><input type="radio" name="weapon" [value]="wep" [formControl]="selectedWeaponForm"> {{wep.name}}</label>
          </span>
          </span>
    </div>
  </div> 
  <span id="container-exit-button">
  <button  id="exit-button" class="btn btn-primary" (click)="closeWindow()">Select Weapon</button>
  </span>
</div>

