

<form id="form" [formGroup]="deadForm">
  <div id="daily-weekly-selector">
    <input type="radio" id="option-daily" name="type" [value]="GameType.DAILY" formControlName="type">
    <label for="option-daily">Daily</label>
    <input type="radio" id="option-weekly" name="type" [value]="GameType.WEEKLY" formControlName="type">
    <label for="option-weekly">Weekly</label>
  </div>
  <div>
      End State:
      <div  class="border" id="dead-form">
       <form [formGroup]="deadForm">
        Area:<select formControlName="deadArea" class="end-dropdown">
            <option *ngFor="let area of getAreas()" [ngValue]="area">{{area}}</option>
          </select>
          <br />
        Subarea:<select formControlName="deadSubarea" class="end-dropdown" >
            <option *ngFor="let subarea of getAvailableSubareas()" [ngValue]="subarea">{{subarea.subarea}}</option>
          </select>
          <br />
        Killed by:<select formControlName="killedBy" class="end-dropdown">
            <option *ngFor="let enemy of getEnemies()" [ngValue]="enemy">{{enemy.name}}</option>
          </select>
        </form>
      </div>
    </div>

  <div id="character-selector">
      Character: <select formControlName="character" class="end-dropdown">
        <option *ngFor="let chara of characters" [ngValue]="chara"  >{{chara.name}}</option>
      </select>
      <input type="checkbox" id="bskin" formControlName="bskin">
      <label for="bskin">Bskin</label>
      
  </div>

  <div id="crown-selector">
    Crowns:
      <select formControlName="crown">
          <option *ngFor="let crown of getAvailableCrowns()" [ngValue]="crown">{{crown.name}}</option>
        </select>
  </div>
  <div id="ultramutation-selector">
    Ultramutations:
  <select formControlName="ultramutation">
    <option *ngFor="let ultmut of getAvailableUltraMutations()" [ngValue]="ultmut">{{ultmut.name}}</option>
  </select>
</div>
</form>
<div id="weapon-selector">
  <div>
    Primary weapon: {{primaryWeapon.name}}<button (click)="openPrimaryWeaponSelector()" type="button" class="btn btn-secondary btn-sm weapon-btn" >Primary Weapon</button>
  </div>
<div>
    Secondary Weapon: {{secondaryWeapon.name}}<button (click)="openSecondaryWeaponSelector()" type="button" class="btn btn-secondary btn-sm weapon-btn" >Secondary Weapon</button>
</div>
</div>
<button (click)=openMutations() class="btn">Select Mutations</button>



