<label>
  Name:
  <input type="text" [formControl]="name">


</label>

<div>
  <input type="radio" id="option-daily" name="drone" value="daily" [formControl]="daily">
  <label for="option-daily">Daily</label>
  <input type="radio" id="option-weekly" name="drone" value="weekly" [formControl]="daily">
  <label for="option-weekly">Weekly</label>
</div>
<div>
<input type="checkbox" name="loop"  [checked]="checked"  (change)="checked = !checked"> I have a bike<br>
<span *ngIf="checked">
<select>
  <option *ngFor="let chara of characters" [value]="chara">{{chara}}</option>
</select> 
</span>
<!--TODO Change input's name-->
<div>
<input type="radio" id="option-end-dead" name="drone" value={{DEADSTATE}} [formControl]="endState">
  <label for="option-end-dead">Dead</label>
<div *ngIf="endState.value == 'dead'" class="border">
  <form [formGroup]="deadForm"(change)="updateDeadArea()">
    <select formControlName="deadArea" >
      <option *ngFor="let area of getAreas()" [ngValue]="area" >{{area}}</option>
    </select> 
    <br/>
    <select formControlName="deadSubarea"  > 
      <option  *ngFor="let subarea of getAvailableSubareas()" [ngValue]="subarea">{{subarea.subarea}}</option>
    </select>
    <br/>
    <select formControlName="killedBy"  > 
      <option  *ngFor="let enemy of getEnemies()" [ngValue]="enemy">{{enemy.name}}</option>
    </select> 
  </form>
</div>


</div>
<input type="radio" id="option-end-win" name="drone" value="win" [formControl]="endState">
<label for="option-end-win">Win</label>

</div>
<p>
  Value: {{ daily.value }}
</p>

Checked: {{checked}}


A:{{deadForm.controls["deadArea"].value}}b