

<form id="form" [formGroup]="deadForm">
  <div id="daily-weekly-selector">
    <input type="radio" id="option-daily" name="type" [value]="GameType.DAILY" formControlName="type">
    <label for="option-daily">Daily</label>
    <input type="radio" id="option-weekly" name="type" [value]="GameType.WEEKLY" formControlName="type">
    <label for="option-weekly">Weekly</label>
  </div>
  <div>
      <div  class="border" id="dead-form">
       <form [formGroup]="deadForm">
          <select formControlName="deadArea">
            <option *ngFor="let area of getAreas()" [ngValue]="area">{{area}}</option>
          </select>
          <br />
          <select formControlName="deadSubarea" >
            <option *ngFor="let subarea of getAvailableSubareas()" [ngValue]="subarea">{{subarea.subarea}}</option>
          </select>
          <br />
          <select formControlName="killedBy">
            <option *ngFor="let enemy of getEnemies()" [ngValue]="enemy">{{enemy.name}}</option>
          </select>
        </form>
      </div>
    </div>

  <div id="character-selector">
      <select formControlName="character">
        <option *ngFor="let chara of characters" [value]="chara"  >{{chara}}</option>
      </select>
      <input type="checkbox" id="bskin" formControlName="bskin">
      <label for="bskin">Bskin</label>
      
  </div>

  <div id="crown-selector">
    Crowns:
      <select formControlName="crown">
          <option *ngFor="let crown of getAvailableCrowns()" [ngValue]="crown">{{crown.name}}</option>
        </select>
  </div>
</form>
<button (click)="open()" class="btn" >pipo</button>
{{getDifficulty()}}




