.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width:100%;
  }
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weapon-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-exit-button{
  width:100%;
}

#exit-button{
  width:100%;
}